@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');


body {
    background-color: #FFFFFF;
    padding:0px;
    margin:0px;
    height:2000px;
}


.flip-card {
  background-color: transparent;
  width: 50%;
  height: 29.162vw;
  perspective: 1000px;
  vertical-align: center;
  margin:auto;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  border-radius:25px;
}

#blackintro{
  font-family: "Inconsolata";
  text-align:center;
  color:black;
  font-size:50px;

}

#whiteintro{
  font-family: "Inconsolata";
  width:100%;
  text-align:center;
  color:white;
  font-size:100px;
}

#whiteintro2{
  font-family: "Inconsolata";
  width:100%;
  text-align:center;
  color:white;
  font-size:50px;
  opacity:0;
}



#blackjack{
  top:100%;
  height:100%;
  width:100%;
  background-color: white;
  color:white;
}

#blackjackinfo{
  height:auto;
  background-color: black;
  font-size:20px;
  color:white;
  font-family:"source code pro";
  opacity:0;
}

#blackjackfont{
  font-family: "Inconsolata";
  font-size:50px;
  color:white;
  opacity:0;
}

#card{
  width:200px;
  height:280px;
  background-image:;
  border-radius:25px;
  opacity:0;
  transform: rotate(-20deg);
  transform: rotate(0);
  background-size:cover;

}

#card2{
  background-image:url(Minkyum.png);
  background-size:cover;
  width:100%;
  border-radius:25px;
  opacity:0;
}

#cardback{
  background-image:url(https://deck.of.cards/img/standard-deck/back.png);
  background-size:cover;
  width: 100%;
  height: 29.162vw;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .flip-card{
    width: 50%;
    height: 70vw;
  }
  #cardback{
    width: 100%;
    height: 70vw;
  }


}


[class*="col-"] {
  float: left;
  outline: 1px solid red;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
