@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');


body {
    background-color: #FFFFFF;
    padding:0px;
    margin:2vw;
    height:5000px;
}


.flip-card {
  background-color: transparent;
  width: 60%;
  height: 29.162vw;
  perspective: 1000px;
  vertical-align: center;
  margin:auto;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  border-radius:25px;
}

#blackintro{
  font-family: "Inconsolata";
  text-align:center;
  color:black;
  font-size:50px;

}

#whiteintro{
  font-family: "Inconsolata";
  width:100%;
  text-align:center;
  color:white;
  font-size:100px;
}

#whiteintro2{
  font-family: "Inconsolata";
  width:100%;
  text-align:center;
  color:white;
  font-size:50px;
  opacity:0;
}



#blackjack{
  top:100%;
  height:100%;
  width:100%;
  background-color:  	#202020;
  color:white;
}

#blackjackinfo{
  height:auto;
  background-color:  	#202020;
  font-size:20px;
  color:white;
  font-family:"source code pro";
  opacity:0;
}

#blackjackfont{
  font-family: "Inconsolata";
  font-size:50px;
  color:white;
  opacity:1;
}

#card{
  width:200px;
  height:280px;
  background-image:;
  border-radius:25px;
  opacity:0;
  transform: rotate(-20deg);
  transform: rotate(0);
  background-size:cover;

}

#card2{
  background-image:url(Minkyum.png);
  background-size:cover;
  width:100%;
  border-radius:25px;
  opacity:0;
}

#cardback{
  background-image:url(https://deck.of.cards/img/standard-deck/back.png);
  background-position: center;
  width: 100%;
  height: 29.162vw;
}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .flip-card{
    width: 50%;
    height: 70vw;
  }
  #cardback{
    width: 100%;
    height: 70vw;
  }


}


[class*="col-"] {
  float: left;
  outline: 1px solid red;
}

::after {
  content: "";
  clear: both;
  display: table;
}






#socialmedia{
  width:5em;
  height:5em;
  background-color:white;
}


@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

 .social-container {
	 width: 100%;
   margin:auto;
   margin-top:3em;
	 text-align: center;
}
 .social-icons {
	 padding: 0;
	 list-style: none;
	 margin: 1em;
}
 .social-icons li {
	 display: inline-block;
	 margin: 0.15em;
	 position: relative;
	 font-size: 1.2em;
}
 .social-icons i {
	 color: #fff;
	 position: absolute;
	 top: 21px;
	 left: 21px;
	 transition: all 265ms ease-out;
}
 .social-icons a {
	 display: inline-block;
}
 .social-icons a:before {
	 transform: scale(1);
	 -ms-transform: scale(1);
	 -webkit-transform: scale(1);
	 content: " ";
	 width: 60px;
	 height: 60px;
	 border-radius: 100%;
	 display: block;
	 background: linear-gradient(45deg, black, black);
	 transition: all 265ms ease-out;
}
 .social-icons a:hover:before {
	 transform: scale(0);
	 transition: all 265ms ease-in;
}
 .social-icons a:hover i {
	 transform: scale(2.2);
	 -ms-transform: scale(2.2);
	 -webkit-transform: scale(2.2);
	 color: #ffffff;
	 background: -webkit-linear-gradient(45deg, #ffffff, #ffffff);
	 -webkit-background-clip: text;
	 -webkit-text-fill-color: transparent;
	 transition: all 265ms ease-in;
}




.container {
  justify-content: center;
  outline: red solid 1px;

}

.chip {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 7px dashed white;
  transition: all 1s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 26px;
  margin: 0px 8px;
  background-color:#303030;

}

div span {
  border: 3px dashed white;
  font-size:30px;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  text-align: center;
  line-height: 160px;
}

/* .spin */ .container div:hover {
  transform: rotate(360deg);
}
